.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6532, #f53e2d);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    margin: 4px 0 0 0;
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    position: relative;
    margin: 0 8px;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #f96d5c;
    height: 16px;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);

}


.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    z-index: 1;
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    top: -16px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 10px;
}
.header__qr-link:last-child {
    margin-right: 10px;
}

.header__qr-download-img {
    height: 15px;
}

.header__notify {
    z-index: 1;
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20%) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    height: 20px;
    top: -12px;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #e5dddd;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.1);
} 

.header__notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    object-fit: contain;
    width: 48px;
}

.header__notify-infor {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 600;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 3.2rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 500px;
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease-out .2s;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.modal-header {
    background-color: var(--white-color);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: #fff;
    
}

.modal-header--login {
    color: #f53e2d;
}

.modal-header--regis {
    color: var(--black-color);
}

.modal-body--verify {
    display: flex;
}

.modal-body--verify #verify {
    margin: 0 0 24px;
    border: 1px solid #ccc;
    font-size: 15px;
    padding-left: 10px;
    flex-basis: 30%;
    max-width: 30%;
}


.modal-text {
    margin: auto 10px 100px 10px;
    font-size: 14px;
    text-align: center;
}

.wish {
    color: #f53e2d;
}

.modal-header>i {
    margin-right: 16px;
}

.modal-container>.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--black-color);
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-container>.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

/* #main> * + *{
    margin-top: 50px;
} */

.modal-body--button {
    display: flex;
    justify-content: end;
}

.ticket {
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    cursor: pointer;
    border: none;
}

.buy-ticket1 {
    width: 30%;
    background-color: var(--white-color);
    color: var(--black-color);
    text-transform: uppercase;
  
}

.buy-ticket2 {
    width: 30%;
    background-color: #f53e2d;
    color: #fff;
    text-transform: uppercase;
}

.buy-tickets:hover {
    opacity: 0.9;

}

.modal-footer{
    display: flex;
    padding: 20px;
    background-color: #ccc;
}

.modal-footer--link {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.modal-footer--linkFb {
    color: var(--white-color);
    background-color: #1c0794;
}

.modal-footer--linkGg {
    margin-left: 10px;
    background-color: var(--white-color);
}

.modal-footer i {
    font-size: 20px;
}

.modal-footer span {
    padding-right: 30px;
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;

}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__search {
    display: flex;
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    align-items: center;

}

.header__cart {
    position: relative;
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    font-size: 2.2rem;
    margin-top: 10px;
    color: var(--white-color);
}

.header__cart .header__notify {
    margin-right: 36px;
}

.header__cart:hover>.header__notify {
    display: block;
}

.header__search-input-wrap {
    position: relative;
    flex: 1;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;

}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-select {
    position: relative;
    border-left: 1px solid #ccc;
    padding-left: 16px;
}

.header__search-select:hover .header__search-option  {
    display: block;
}

.header__search-select-label{
    font-size: 1.5rem;
}

.header__search-select-icon {
    font-size: 1.5rem;
    color: #4a4a4a;
    margin: 0 10px;
    font-weight: 500;
}

.header__search-btn {
    height: 34px;
    background-color: #f53e2d;
    border: none;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover {
    background-color: #f96d5c;
}

.header__search-btn-icon {
    width: 60px;
    font-size: 1.4rem;
    outline: none;
    color: var(--white-color);
}

.header__search-option{
    list-style: none;
    position: absolute;
    right: 0;
    top: 100%;
    padding-left: 0;
    margin-top: 14px;
    width: 130px;
    display: none;
    border-radius: 3px;
    box-shadow: 0 0 3px #ccc;
    overflow: hidden;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 0 0 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: #f53e2d;
    margin: 0 4px 0 16px;
}

.header__search-history {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 14px;
    background-color: var(--white-color);
    box-shadow: 0 0 5px #ccc;
    border-radius: 3px;
    display: none;
}
.header__search-history-heading {
    margin: 8px 16px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
}

.header__search-history-item {
    display: flex;
    height: 30px;
    padding: 0 16px;
    align-items: center;
}

.header__search-history-item:hover {
    background-color: #cbc7c7;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    width: 100%;
} 

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 24px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    margin-top: 0;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {

}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    position: absolute;
    border: 4px solid ;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 16px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.home-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    background-color: #ededed;
}

.home-filter__label {
    line-height: 34px;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.7;
    margin: 0 20px;
}

.btn-price {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 202px;
}

.btn-price--sub {
    z-index: 2;
    padding-left: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    list-style: none;
    width: 100%;
    display: none;
}

.btn-price:hover .btn-price--sub {
    display: block;
}

.btn-price--sub li {
    padding: 10px;
    background-color: var(--white-color);
}

.btn-price--sub li:hover {
    border: 1px solid var(--black-color);
    color: var(--primary-color);
}

.home-filter--left {
    display: flex;
    flex-basis: 80%;
    max-width: 90%;
}

.home-filter--right {
    display: flex;
    flex-basis: 20%;
    max-width: 20%;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}

.back-next {
    display: inline-block;
}

.back-next .next, 
.back-next .back {
    padding: 13px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-width: 1px;
}

.home-filter--right .back-next:first-child {
    margin-left: 20px;
}

.back-next .back {
    background-color: var(--white-color);
    color: #999;

} 

.back-next .next {
   margin-left: -1px;
}

.back-next .next:hover {
    background-color: var(--white-color);
}

.home-page {
    font-size: 14px;
}

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
    margin-top: 10px;
    flex-basis: 19.2222%;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    width: 100%;
}


.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    /* white-space: nowrap;
    chỉ trên 1 hàng */
}
.home-product-item__price {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}

.home-product-item__price--old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;

}

.home-product-item__like {
    font-size: 1.4rem;
}

.home-product-item__rating {
    font-size: 0.6rem;
    color: #d5d5d5;
}

.star-gold {
    color: #ffce3e;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px  0;
    color: #595959;
    font-weight: 400;
    font-size: 1.2rem;
}

.home-product-item__brand {

}

.home-product-item__origin-name {

}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.9);
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.9);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.3rem;

}

.home-product-item__sale-off-label {
    line-height: 1.4rem;
    font-size: 1.4rem;
    color: var(--white-color);
}

.home-product-item__like-icon {

}

i.home-product-item__liked-icon {
    display: none;
    color: var(--primary-color);
}

.home-product-item__liked .home-product-item__liked-icon{
    display: inline-block;
}

.home-product-item__liked .home-product-item__like-icon {
    display: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 16px;
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item__link {
    --height: 30px;
    text-align: center;
    display: block;
    color: #939393;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
}

.pagination-item__icon {

}

.home-product--pagination {
    margin: 48px 0 32px 0;
}
